.modal{:id => "role-options-#{transaction.id}", :style => "display: none;"}
  = simple_form_for transaction, :url => transaction_path(transaction), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Edit transaction
    .modal-body
      = f.input :name
      = f.input :value
    .modal-footer
      = f.submit "Edit!", :class => "btn"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
