%h3 Transactions
.transactions
  %table.table.table-condensed
    %thead
      %tr
        %th Date
        %th Name
        %th Value
        %th Edit
        %th Delete
    %tbody
      - @current_user.transactions.each do |transaction|
        - if transaction.value > 0
          -status = 'success'
        - else
          -status = 'error'
        %tr{:class => status}
          %td= transaction.created_at.to_date.to_formatted_s(:short)
          %td= transaction.name
          %td= number_to_currency(transaction.value, :unit => "€", precision: 1) 
          %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{transaction.id}", :type => "button"} Edit
            = render transaction
          %td= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' }

%br.clearfix
%h4 New Transaction
= form_for [@user, Transaction.new] do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :value
  = f.text_field :value
  %br/
  = f.submit "Add transaction"
